.contact-title{
    font-size: 35px;
    margin-left: 10px;
    font-style: none;
    text-align: center;
    margin-top: 10px;
    color: #073B4C;
}
.btn-contact{
    width: 125px;
    
    border: 1px solid #0893FF;
    background-color: #FFFFFF;
    text-align: center;
    color: #0893FF;
    margin-bottom: 20px;
}

.btn-contact:hover{
    text-decoration: none;
    background-color: none;
    color: #0893FF;
}

.privacy-contact{
    color: #0893FF;
    font-weight: bold;
}

.h5{
    color: #0893FF;
}
#email-btn{
    color: #FFFFFF;
    background-color: #0893FF !important;
    height: 50px;
    width: 125px;
}

.email-input{
    width: 400px;
    height: 50px;
}
.para-policy{
    margin-top:45px ;
}