
.download{
    background: url("images/download_images/bg_dl_img.png") no-repeat center center ;
    background-size: cover;
}
.download .imgdown img{
    width: 73%;
    padding: 1rem;
}
.const-btn{
    color: #0893FF !important;
    border-color: #0893FF !important ;
}

.download .title-dwn{
    color: #0893FF;
    font-size: 48px;
    
}
.download .txt-dwn {
    font-size: 36px !important;
    color: #073B4C;
    width: 89%;
    line-height: 64px;
  }
.download .dwn-btns{
    margin-right: 1.2rem !important;
  }