
.download{
    background: url("images/download_images/bg_dl_img.png") no-repeat center center ;
    background-size: cover;
}
.download .imgdown img{
    width: 91%;
    padding: 0;
}
.const-btn{
    color: #0893FF !important;
    border-color: #0893FF !important ;
}
.const-btn:hover{
    background-color: #0893FF !important;
    color: #FFF !important;
    transition: 0.3s all !important;
}


.download .title-dwn{
    color: #0893FF;
    font-size: 48px;
    
}
.download .txt-dwn {
    font-size: 1.5rem !important;
    color: #343434;
    width: 80%;
    
  }
.download .dwn-btns{
    margin-right: 1.2rem !important;
    padding: 0.7rem;
    font-family: 'EuclidCircularA-Medium';
  }

.dowmload-mobile-container h3{
    display: none;
}

//   .dwn-btns:hover{
//     background-color: #0893FF !important;
//     color: #FFF !important;
//   }

@media only screen and (max-width:768px) {
    .dwn-desc-content .title-dwn{
        display: none;
    }
    .dowmload-mobile-container h3{
        display: block;
    }
    .download .txt-dwn{
        width: 100%;
        padding: 1rem;
    }
}