.container.download_container{
    background: url("images/download_images/bg_dl_img.png") no-repeat center center ;
    background-size: cover;
}

.const-btn{
    color: #0893FF !important;
    border-color: #0893FF !important ;
}

.title-dwn{
    color: #0893FF;
    font-size: 50px;
}
.txt-dwn{
    font-size: 25px;
    color: #073B4C;
}

