.section.hero {

  .hero-title {
    strong {
      color: $danger;
    }
  }
  background: url("images/header/background_header.png") no-repeat center center;
  background-size: cover;
} 


a.col-navbar {
    color: #073B4C !important;
  }
  a.col-navbar:hover{
    text-decoration: underline;
    color: #3EBDB6 !important;
  }

.btn-primary {
  background-color: #3EBDB6 !important;
  border-color: #3EBDB6 !important;
}

.btn-outline-primary {
  color: #3EBDB6 !important;
  border-color: #3EBDB6 !important;
}
.btn-outline-primary:hover {
  background-color: #FFFFFF !important;

}
.section.features {
  background-color: rgba($color: #7678ED, $alpha: 0.1);
  padding-top: 4rem !important;
  padding-bottom: 5rem !important;
}
.on-bg-txt{
  background-color: #7678ED;
  color: #FFFFFF;
}

.us-txt{
  color:#3EBDB6 !important;
}
