.text-abt{
    font-size: 1.6rem;
    color:#073B4C ;
    width: 100%;  
    line-height: 2rem;
    margin-bottom: 1.6rem ;  
    text-align: justify;
}

.title-abt{
    font-size: 40px;
    padding-bottom: 15px;
    color: #3EBDB6;
 
}
.txt-team{
    font-size: 25px;
}

.dsc-team{
    color: #FFFFFF;
    background-color: #7678ED;
    border-radius: 3px;
    font-size: 20px;
    font-family: "Comic Sans MS";
}

.role-team{
    font-size: 13px;
    color: #3EBDB6;
}
.git-li{
    color: #3EBDB6;
}
.li-li{
    color: #3EBDB6;
}



.img-about-container img{
    height: auto;
    width: 100%;
    margin-top: 1.4rem !important;

}


@media only screen and (max-width :768px)  {
    .img-about-container {
       
       margin: 0 auto ;
    }
    .img-about-container img{
        height: 440px;
        width: 350px;
    }
    .container-content-about{
        margin: 0 auto;
    }
    .text-abt{
        font-size: 1.2rem;
    }
    .title-abt{
        font-size: 1.4rem;  
    }
    .class-team-about{
        display: flex;
        flex-direction:column ;
        justify-content: center;
    }
 
    
}