<section class="section contact py-5">
    <div class="container">
        <div class="d-flex flex-row">
           <div class="col-12 col-xl-6  d-flex flex-column justify-content-center hero-image">
                <div class="title-contact">
                    <h4> <img src="/images/contact-img/img-1.jpg" width="30px" height="30px" /> <span class="contact-title">Contact Us</h4>
                </div>
                <p class="para-contact">Whether you have a question, a suggestion, want to<br> 
                    collaborate, or just want to say hello, we’re all ears. You can use<br>
                     the form on our website or send us your inquisitions. Looking<br> forward to hearing from you!
                </p>
                <a href="#" class="btn btn-contact">Contact</a>
                
            </div>
            <div class="col-12 col-xl-6 d-flex flex-column ">
                <div class="title-contact">
                  <h4> <img src="/images/contact-img/img-2.jpg" width="30px" height="30px" /> <span class="contact-title"> Newsletter</span></h4>
                </div>
    
                <h5 class="h5">Subscribe to our Newsletter</h5>
                <p>Leave us your email address and we will reach out to you with the latest<br> updates on how we plan to accelerate Web5</p>
                <form method="POST">
                  <div class="row">
                      <div class="col">
                          <input type="email" class="form-control email-input" placeholder="Your email address" name="email">
                        </div>
    
                        <div class="col">
                          <button type="submit" class="btn btn-primary" id="email-btn">Submit</button>
                        </div>
                  </div>
                  
                  
                </form>               
            </div>  
          </div>
          <p class="para-policy">Feel free our <a href="/privacy" class="privacy-contact">Privacy Policy</a> to check how we handle your data.</p>
    </div>
</section>