.shared.footer{
    background: url("/images/footer-img/bg_footer.png") no-repeat center center;
    background-size: cover !important;
    width: 100% !important;
    max-width: none !important;
    margin: 0 auto !important;
}


.title-footer{
    color: #FFFFFF !important;
}

.text-footer{
    color: #3EBDB6 !important;
}
.para-cr{
    color: #FFFFFF !important;
}
.con-footer{
    color: #FFFFFF !important;
}
.text-loc{
    color: #FFFFFF !important;
}

.geo-color{
    color: #FFFFFF !important;
}
.text-about{
    color: #FFFFFF !important;
}