footer{
    padding-top: 3rem ;


}

.shared.footer{
    background: url("/images/footer-img/bg_footer.jpg") no-repeat top center;
    background-size: cover !important;
    width: 100% !important;
    max-width: none !important;
    margin: 0 auto !important;
}


.title-footer{
    color: #FFFFFF !important;

}

.text-footer{
    color: #3EBDB6 !important;
    font-size: 0.9rem !important;
}
.para-cr{
    color: #FFFFFF !important;
}
.con-footer{
    color: #FFFFFF !important;
    font-family: 'EuclidCircularA-Medium';
}

.geo-color{
    color: #FFFFFF !important;
}
.text-about{
    color: #FFFFFF !important;
}

.copyright{
    height: 70px;
    background-color: #084357;
    width: 100%;
    padding: 0;
    margin: 0;

}
.copyright p{
    line-height: 70px;
    margin: 0;
    font-family: 'EuclidCircularA-Medium';
}
.footer-logo :first-child{
    width: 35%;
}
.footer-logo p{
    font-size: 1rem;
}
// .footer-logo svg{
//     width:85% !important;
// }
.footer-logo li{
    width:auto !important;
}
.bg-icon-footer{
    background-color: rgba(220, 240, 255, 0.25);
    list-style: none;
}

.text-about {
    color: #FFFFFF !important;
    line-height: 35px;
    font-size: .9rem;
    font-family: 'EuclidCircularA-Medium';
  }

.justify-content-xl-start {
    justify-content: flex-start !important;
    color: #FFFFFF !important;
    margin: 15px 0;
    font-size: 1rem;
}

.con-footer {
    color: #FFFFFF !important;
    line-height: 40px;
    font-size: .9rem;
  }
   
.text-footer {
    color: #3EBDB6 !important;
    font-size: 1rem;
    font-family: 'EuclidCircularA-Bold';
}
.text-loc{
    padding-left: 1rem !important;
    color: #FFFFFF !important;
    font-size: .9rem;
    font-family: 'EuclidCircularA-Medium';
}
.footer-content{
    padding-top: 40px;
    
}

.footer-content ul li{
    width: 70%;
    
}

.logo-gh-li-tw-footer{
    padding-left:0 ;
}
.logo-gh-li-tw-footer li a svg {
    width: 100% !important;
}

@media only screen and (max-width:768px){
    .container-footer-div{
        flex-direction: column; 
        align-items: center;
        width: 100%;   
    }
    .footer-logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .footer-content{
        display: flex;
        flex-direction: column;       
        width: 100%;
        align-items: center;

    }
    .list-unstyled{
        width: 100%;
        text-align: center;
    }
 
    .geo-color{
        display: none !important;
    }
    .con-footer{
        line-height: 30px;
    }
    .footer-content ul li{
        width: 100%;
        
    }
    .list-location{
        width: 50%;
    }
    .footer-content {
        padding-top: 0;
      }
    
}

@media only screen and (min-width : 768px) and (max-width:1000px) {
  .container-footer-div{
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .footer-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  .footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }
  .con-footer {
    line-height: 30px;
  }
  .text-loc{
    text-align: left;
  }
  .list-unstyled{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}