.navbar {
  .navbar-brand {
    img {
      width: auto;
      max-height: calc(2.3rem + .6vw);
    }
  }
}
.navbar{
  box-shadow: 2px 2px 10px rgba(84,207,248,0.16);
}

.github-header{
  width: 50px;
  height: 40px;
  margin-right: 3px;
  margin: 0 auto;
}
.dwn-style{
  width: 20px;
  height: 15px;
  align-items: center;
  padding-right: 3px;
}
