.navbar {
  .navbar-brand {
    img {
      width: auto;
      max-height: calc(1.4rem + .6vw);
    }
  }
}
.github-header{
  width: 50px;
  height: 40px;
  margin-right: 3px;
  margin: 0 auto;
}
.dwn-style{
  width: 20px;
  height: 15px;
  align-items: center;
  padding-right: 3px;
}
