<section class="section hero py-5" >
    <div class="container">
      
      <div class="row flex-column flex-xl-row-reverse">
            <div class="col-4 d-flex justify-content-center img-about-container">
            <img src="/images/download_images/2060-download.png" />
         </div>
            <div class="col-md-8 col-sm-12 d-flex flex-column container-content-about ">             
                <h3 class="title-abt">{{ .title_about_md }}</h3>
                {{ with .para1 }}
                    <p class="text-abt">{{ . }}</p>                 
                {{ end }}
                

                {{ with .para2 }}
                    <p class="text-abt">{{ . }}</p>                 
                {{ end }}
               
            </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section features py-5">
    <div class="container">
      
        <div class="col-12 col-xl-6">
            {{ with .content.title }}
            <h3 class="fs-1 fw-bold  text-primary pb-3 title-team" style="font-weight: normal !important;">{{ . }}</h3>
            {{ end }}
        </div>

        <div class="row justify-content-center d-flex">
            {{ range .content.cards }}
            <div class="col-12 col-xl-6">          
                <div class="p-5 d-flex"> 
                    <div class="card col-6 p-3 class-team-about">
                        {{with .image}}
                            <img src="{{ . }}">
                        {{ end }}
                        {{ with .title }}<h4 class="card-title text-primary pt-3" style="color: #073B4C !important;">{{ . }}</h4>{{ end }}
                        {{ with .text }}<p class="card-text role-team pb-3">{{ . }}</p>{{ end }}

                        <ul class="d-flex justify-content-center justify-content-xl-start list-unstyled">
                            {{ with .github }}<li class="rounded-circle me-2 p-2"><a class="d-flex align-items-center justify-content-center size-16 git-li" href="{{ . }}">{{ partial "icons/github.html" . }}</a></li>{{ end }}
                            {{ with .linkedin }}<li class="rounded-circle bg-blue-63 me-2 p-2"><a class="d-flex align-items-center justify-content-center size-16 li-li" href="{{ . }}">{{ partial "icons/linkedin.html" . }}</a></li>{{ end }}
                        </ul>
                    </div>
                    <div class="col-6 p-3 d-flex flex-column dsc-team">
                        <img src="/images/about/coats_left.png" width="30px" height="30px"/>
                       {{ with .description }}
                            <p class="text-center p-2 txt-desc">{{ . }}</p>
                       {{ end }}
                       <div class="d-flex justify-content-end">
                           <img src="/images/about/coats_right.png" width="30px" height="30px" class="me-0" />
                       </div>
                       <div class="d-flex justify-content-center">
                           {{ with .qrscan }}
                                <img src="{{ . }}" width="120px" height="120px" class="" />
                           {{ end }}
                       </div>
                    </div>
                </div> 
                
            </div>
            {{ end }}
        </div>
    </div>
    
  </section>
  
  