<section class="section portfolio">
    <div class="container-fluid">
      {{ range .content }}
      <div class="row portfolio-feature">
        <div class="portfolio-feature-container">
          <div class="col-12 col-xl-6 d-flex flex-column justify-content-center">
            {{ with .image }}
              <img src="{{ . }}" alt="img-sign" class="img-fuild mb-5">
            {{ end }}
          </div>
          <div class="col-12 col-xl-6 d-flex flex-column justify-content-center">

            {{ with .img }}
              <img src="{{ . }}" alt="img-sign" class="img-fuild-left">
            {{ end }}

            {{ with .title }}
              <h3 class="fs-1 fw-bold text-primary pb-3" style="color: #3EBDB6 !important;">{{ . }}</h3>
            {{ end }}
            {{ with .text }}
              <p class="text-black-61 pb-3">{{ . }}</p>
            {{ end }}
            <div class="">
              {{ range .buttons }}
                <a class="text-decoration-none me-3 scan-link" href="{{ .url }}">{{ .label }} <i class="fas fa-arrow-right right-arrow"></i></a>
              {{ end }}
              
              {{ with .imgScan }}
                <img src="{{ . }}" alt="img-sign" class="img-fuild-left" height="120px" width="150px">
              {{ end }}

            </div>
          </div> 
      </div>
      </div>
      {{ end }}
    </div>
  </section>
  